.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.view {
  display: grid;
  grid-template-columns: 2fr 4fr;
  height: 100vh;
}

button {
  cursor: pointer;
}
